* {
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.template{
    position: absolute;
    height: 100%;
}
.card-front{
    position: absolute;
    margin-top: 8%;
    margin-left: 10%;

}
.text-card{
    position: absolute;
    color:hsl(270, 3%, 87%);
}

h2{
    letter-spacing: 5px;
    margin-left: 217px;
    margin-top: 300px;

}

.info1{
    margin-left: 38%;
    margin-top: 4%;
}

.info2 {
    margin-left: 90%;
    margin-top: -3%;
}
#circle1 {
    position: absolute;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    background-color: hsl(0, 0%, 100%);
    margin-left: 217px;
    margin-top: 175px;
    }

    #circle2  {
        border: 1px solid hsl(0, 0%, 100%) ;
        border-radius: 50%;
        position: absolute;
        width: 20px;
        height: 20px;
        margin-left: 270px;
        margin-top: 185px;
        }
.card-back{
    position: absolute;
    margin-top: 22%;
    margin-left: 15%;
}

h3{
    letter-spacing: 4px;
    font-size: 15px;
    color:hsl(0, 0%, 100%);
    position: absolute;
    margin-top: 27.67%;
    margin-left: 33%;
}

.infoCard {
    position: absolute;
    margin-top: 15%;
    margin-left: 50%;
}

.button1 {
    cursor: pointer;
    color:hsl(0, 0%, 100%);
    border-radius: 5px;
    width: 325px;
    height: 40px;
    border: thin;
    background-color:hsl(278, 68%, 11%) ;
}

.button1:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 100%);
    color:hsl(278, 68%, 11%) ;
    border-color:hsl(278, 68%, 11%) ;
    border-style: dotted;
}

input{
    padding-left: 15px;
    border: 0.1px solid ;
    height: 35px;
    border-radius: 5px;
}

.loggedIn {
    position: absolute;
    margin-top: 15%;
    margin-left: 50%;
}

.log1 {
    margin-left: 60px;
    font-size: 40px;
    color: hsl(278, 68%, 11%) ;
}

.log2 {
    margin-left: 50px;
    color: hsl(278, 68%, 11%) ;
}


@media screen and (max-width: 900px) {
    .template{
        width: 100%;
        height: 40%;
    }

    .card-front{
        width: 80%;
        position: absolute;
        margin-top: 50%;
        margin-left: 5%;
        z-index: 2;
        
    
    }
    .text-card{
        width: 70%;
        position: absolute;
        color:hsl(270, 3%, 87%);
        z-index: 2;
    }
    h2{
        font-size: 15px;
        letter-spacing: 5px;
        margin-left: 35px;
        margin-top: 320px;
    
    }
    
    .info1{
        margin-left: 12%;
        margin-top: 4%;
    }
    
    .info2 {
        margin-left: 90%;
        margin-top: -6%;
    }
    #circle1 {
        position: absolute;
        border-radius: 25px;
        width: 35px;
        height: 35px;
        background-color: hsl(0, 0%, 100%);
        margin-left: 35px;
        margin-top: 220px;
        }
    
        #circle2  {
            border: 1px solid hsl(0, 0%, 100%) ;
            border-radius: 50%;
            position: absolute;
            width: 20px;
            height: 20px;
            margin-left: 85px;
        margin-top: 227px;
            }
    .card-back{
        width: 80%;
        position: absolute;
        margin-top: 10%;
        margin-left: 15%;
        z-index: 1;
    }
    
    h3{
        z-index: 1;
        letter-spacing: 4px;
        font-size: 15px;
        color:hsl(0, 0%, 100%);
        position: absolute;
        margin-top: 29%;
        margin-left: 75%;
    }
    
    .infoCard {
        position: absolute;
        margin-top: 110%;
        margin-left: 10%;
    }
    
    .button1 {
        cursor: pointer;
        color:hsl(0, 0%, 100%);
        border-radius: 5px;
        width: 325px;
        height: 40px;
        border: thin;
        background-color:hsl(278, 68%, 11%) ;
    }
    
    .button1:hover {
        cursor: pointer;
        background-color: hsl(0, 0%, 100%);
        color:hsl(278, 68%, 11%) ;
        border-color:hsl(278, 68%, 11%) ;
        border-style: dotted;
    }
    
    input{
        padding-left: 15px;
        border: 0.1px solid ;
        height: 35px;
        border-radius: 5px;
    }
    
    .loggedIn {
        position: absolute;
        margin-top: 110%;
        margin-left: 10%;
    }
    
    .log1 {
        margin-left: 60px;
        font-size: 40px;
        color: hsl(278, 68%, 11%) ;
    }
    
    .log2 {
        margin-left: 50px;
        color: hsl(278, 68%, 11%) ;
    }
    
}